<div class="chat_main_menu">
    <div class="chat_main_menu_header">
        <ul class="flex header_ul">
            <li>
                <span>すべて</span>
            </li>
            <li>
                <span>友だち</span>
            </li>
            <li>
                <span>グループ</span>
            </li>
        </ul>
    </div>
    <hr />
    <div class="flex chat_main_menu_body">
        <UserList @ref="UserList" />
        <ChatRoom />
    </div>
</div>

@code {
    /// <summary>
    /// ユーザー一覧インスタンス
    /// </summary>
    public UserList UserList = new();

    /// <summary>
    /// 初期処理
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    /// <summary>
    /// 画面レンダリング処理
    /// </summary>
    /// <returns></returns>
    public async Task OnRender()
    {
        await UserList.OnRender();
        await this.InvokeAsync(this.StateHasChanged);
    }
}
