<h3>FriendList</h3>

@code {
    /// <summary>
    /// 初期処理
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public async Task OnRender()
    {
        await this.InvokeAsync(this.StateHasChanged);
    }
}
