<div class="chat_main_menu">
    <div class="chat_main_menu_header">
        <ul class="flex header_ul">
            <li>
                <span>すべて</span>
            </li>
            <li>
                <span>友だち</span>
            </li>
            <li>
                <span>グループ</span>
            </li>
        </ul>
    </div>
    <hr />
    <div class="flex chat_main_menu_body">
        <FriendList />
        <ChatRoom />
    </div>
</div>

@code {

}
