@page "/"
@using IksNativeClient.Pages.Chat
@using IksNativeClient.Pages.Friend
@using IksNativeClient.Pages.User

@* TODO：pageクラスとsidebarクラスのCSSを解析して、リファクタリングができればしたい(優先度は低め) *@
<div class="page">
    <div class="sidebar">
        <NavMenu SwtchingFunctionCallback="SwtchingFunctionCallBack" />
    </div>

    <div class="@_friendDisplayCss">
        <FriendMainMenu @ref="_friendMainMenu" />
    </div>

    <div class="@_chatDisplayCss">
        <ChatMainMenu @ref="_chatMainMenu" />
    </div>

    <div class="@_userDisplayCss">
        <UserMainMenu @ref="_userMainMenu" />
    </div>
</div>

@code {
    /// <summary>
    /// アクティブ機能ID
    /// </summary>
    private short _activeFunctionId = CLDEF.FNC_ID_NONE;

    /// <summary>
    /// フレンドアクティブ状態
    /// </summary>
    private bool _isFriendActive;

    /// <summary>
    /// チャットアクティブ状態
    /// </summary>
    private bool _isChatActive;

    /// <summary>
    /// ユーザーアクティブ状態
    /// </summary>
    private bool _isUserListActive;

    /// <summary>
    /// フレンド表示切り替えCSS
    /// </summary>
    private string _friendDisplayCss => _isFriendActive ? null : CLDEF.DISPLAY_NONE_CSS;

    /// <summary>
    /// チャット表示切り替えCSS
    /// </summary>
    private string _chatDisplayCss => _isChatActive ? null : CLDEF.DISPLAY_NONE_CSS;

    /// <summary>
    /// ユーザー表示切り替えCSS
    /// </summary>
    private string _userDisplayCss => _isUserListActive ? null : CLDEF.DISPLAY_NONE_CSS;

    /// <summary>
    /// フレンドメインメニューインスタンス
    /// </summary>
    private FriendMainMenu _friendMainMenu = new();

    /// <summary>
    /// チャットメインメニューインスタンス
    /// </summary>
    private ChatMainMenu _chatMainMenu = new();

    /// <summary>
    /// ユーザーメインメニューインスタンス
    /// </summary>
    private UserMainMenu _userMainMenu = new();

    /// <summary>
    /// 初期処理
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    /// <summary>
    /// 機能切り替えコールバック処理
    /// </summary>
    /// <param name="functionId">機能ID</param>
    private async Task SwtchingFunctionCallBack(short functionId)
    {
        // 機能切り替え処理を実施
        await SwtchingFunction(functionId);
    }

    /// <summary>
    /// 機能切り替え処理
    /// </summary>
    /// <param name="functionId">機能ID</param>
    private async Task SwtchingFunction(short functionId)
    {
        // アクティブ機能IDをセット
        _activeFunctionId = functionId;
        // 画面レンダリング処理
        await OnRender(functionId);
    }

    /// <summary>
    /// 画面レンダリング処理
    /// </summary>
    /// <param name="functionId">機能ID</param>
    private async Task OnRender(short functionId)
    {
        // アクティブ状態を初期化
        _isFriendActive = false;
        _isChatActive = false;
        _isUserListActive = false;
        // 画面レンダリング
        if (functionId == CLDEF.FNC_ID_FRIEND)
        {
            _isFriendActive = true;
            await _friendMainMenu.OnRender();
        }
        else if (functionId == CLDEF.FNC_ID_CHAT)
        {
            _isChatActive = true;
            await _chatMainMenu.OnRender();
        }
        else if (functionId == CLDEF.FNC_ID_USER)
        {
            _isUserListActive = true;
            await _userMainMenu.OnRender();
        }
    }
}