<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="nav-menu">
        <div class="nav-item">
            <button class="@_friendsBtnCss" @onclick="HandleFriendsButtonClick">
                <span class="oi oi-home" aria-hidden="true"></span>
            </button>
        </div>
        <div class="nav-item">
            <button class="@_chatRoomBtnCss" @onclick="HandleChatRoomButtonClick">
                <span class="oi oi-plus" aria-hidden="true"></span>
            </button>
        </div>
        <div class="nav-item">
            <button class="@_friendAddBtnCss" @onclick="HandleFriendAddButtonClick">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
            </button>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    /// <summary>
    /// ナビゲーションボタンデフォルトCSS
    /// </summary>
    private const string _defaultNavButtonCss = "";

    /// <summary>
    /// ナビゲーションボタンアクティブ時のCSS
    /// </summary>
    private const string _activeNavButtonCss = "active";

    /// <summary>
    /// 友達一覧ボタンCSS
    /// </summary>
    private string _friendsBtnCss = _defaultNavButtonCss;

    /// <summary>
    /// チャットルームボタンCSS
    /// </summary>
    private string _chatRoomBtnCss = _defaultNavButtonCss;

    /// <summary>
    /// 友達追加ボタンCSS
    /// </summary>
    private string _friendAddBtnCss = _defaultNavButtonCss;

    /// <summary>
    /// 友達一覧ボタン押下時処理
    /// </summary>
    private void HandleFriendsButtonClick()
    {
        // 友達一覧
        SwtchingFunction(ScreenDef.SCREEN_ID_FRIENDS);
        // ナビゲーションメニューボタンCSS初期化処理
        InitNavButtonCss();
        // 友達一覧ボタンをアクティブにする
        _friendsBtnCss = _activeNavButtonCss;
    }

    /// <summary>
    /// チャットルームボタン押下時処理
    /// </summary>
    private void HandleChatRoomButtonClick()
    {
        // チャットルームへ遷移
        SwtchingFunction(ScreenDef.SCREEN_ID_CHATROOM);
        // ナビゲーションメニューボタンCSS初期化処理
        InitNavButtonCss();
        // チャットルームボタンをアクティブにする
        _chatRoomBtnCss = _activeNavButtonCss;
    }

    /// <summary>
    /// 友達追加ボタン押下時処理
    /// </summary>
    private void HandleFriendAddButtonClick()
    {
        // 友達追加へ遷移
        SwtchingFunction(ScreenDef.SCREEN_ID_FRIEND_ADD);
        // ナビゲーションメニューボタンCSS初期化処理
        InitNavButtonCss();
        // 友達追加ボタンをアクティブにする
        _friendAddBtnCss = _activeNavButtonCss;
    }

    /// <summary>
    /// ナビゲーションメニューボタンCSS初期化処理
    /// </summary>
    private void InitNavButtonCss()
    {
        _friendsBtnCss = _defaultNavButtonCss;
        _chatRoomBtnCss = _defaultNavButtonCss;
        _friendAddBtnCss = _defaultNavButtonCss;
    }

    /// <summary>
    /// 機能切り替え
    /// </summary>
    /// <param name="activeCss"></param>
    private void SwtchingFunction(short activeCss)
    {
        // Index.Razor画面の画面遷移処理にコールバック通知
    }
}
