@inject IksNativeClient.Interface.IChatLogic _IChatLogic;

<style>
    .boot_certification {
        width: fit-content;
        margin: 10% auto;
    }

        .boot_certification input.text {
            padding: 2px 6px;
            width: 250px;
        }

        .boot_certification .main_title {
            color: red;
        }

        .boot_certification .user {
            margin: 20px 0;
        }

        .boot_certification .pass {
            margin-bottom: 20px;
        }
        
        .boot_certification button.sign_up {
            float: right;
            background-color: #aeaeae;
            border-radius: 15px;
            border: 1px solid #767676;
            color: #FFF;
            padding: 2px 6px;
        }

</style>
<div class="boot_certification">
    <h2 class="main_title">Chatty</h2>
    <div class="user">
        <input type="text" placeholder="ユーザー名" class="text" />
    </div>
    <div class="pass">
        <input type="password" placeholder="パスワード" class="text" />
    </div>
    <div>
        <button class="sign_up" @onclick="() => _IChatLogic.Chat()">Sign Up!</button>
    </div>
</div>

@code {

}
