@using IksNativeClient.Common.Models;
@inject IksNativeClient.Interface.IBootCertificationLogic _IBootCertificationLogic;

<div class="boot_certification">
    <h2 class="main_title">Chatty</h2>
    <div class="user">
        <input type="text" @bind-value="_bootCertificationModel.UserName" placeholder="User Name" class="text" />
    </div>
    <div class="pass">
        <input type="password" @bind-value="_bootCertificationModel.Password" placeholder="Password" class="text" />
    </div>
    <div>
        <button class="sign_up" @onclick="OnSignUp">Sign Up!</button>
    </div>
</div>

@code {
    /// <summary>
    /// 起動時認証モデル
    /// </summary>
    private BootCertificationModel _bootCertificationModel = new();

    private void OnSignUp()
    {
        _IBootCertificationLogic.Certification(_bootCertificationModel);
    }
}
