@page "/"
@using IksNativeClient.Pages.Chat

@* TODO：pageクラスとsidebarクラスのCSSを解析して、リファクタリングができればしたい(優先度は低め) *@
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <ChatMainMenu />
</div>
