<div class="talk_menu">
    <div class="talk_menu_header">
        <ul class="flex header_ul">
            <li>
                <span>すべて</span>
            </li>
            <li>
                <span>友だち</span>
            </li>
            <li>
                <span>グループ</span>
            </li>
        </ul>
    </div>
    <hr />
    <div class="flex talk_menu_main">
        <TalkList />
        <TalkRoom />
    </div>
</div>

@code {

}
