<div class="talk_menu_header">
    <ul class="">
        <li>
            <button>すべて</button>
        </li>
        <li>
            <button>友だち</button>
        </li>
        <li>
            <button>グループ</button>
        </li>
    </ul>
</div>
<div>
    <input type="text" placeholder="トークルーム検索" />
</div>

<TalkList />
<TalkRoom />

@code {

}
