<div class="talk_list">
    <div class="talk_list_search">
        <input type="text" class="search_text" placeholder="トークルームとメッセージ検索" />
    </div>
    @* リストコンポーネント作成 *@
    <dl>
        @* 画像 *@
        <dt></dt>
        <dd>
            @* チャットルーム名 *@
            <h4></h4>
            @* 最新チャットメッセージ *@
            <p></p>
            @* 受信日時 *@
            <span></span>
        </dd>
    </dl>
</div>

@code {

}
