@inject IksNativeClient.Interface.IChatLogic _IChatLogic;

<style>
    .chat_list_li{
        padding-top: 10px;
    }

        .chat_list_li .component {
            display: flex;
        }

            .chat_list_li .component .room_image {
                width: 50px;
                background-color: #DDD;
                border-radius: 70%;
                margin-right : 10px;
            }

            .chat_list_li .component .room_content {
                width: 200px;
                position: relative;
            }

                .chat_list_li .component .room_content .chat_room_name {
                    font-size: 15px;
                    margin: 0;
                }

                .chat_list_li .component .room_content .receive_date {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #777777;
                }

                .chat_list_li .component .room_content .chat_message {
                    margin: 0;
                    color: #777777;
                }
</style>
<div class="chat_list">
    <div class="search">
        <div class="search_input">
            <span class="icon"></span>
            <input type="text" class="text" placeholder="チャットルームとメッセージ検索" />
        </div>
    </div>
    @* リストコンポーネント作成 *@
    <ul>
        <li class="chat_list_li">
            <dl class="component">
                @* 画像 *@
                <dt class="room_image"></dt>
                <dd class="room_content">
                    @* チャットルーム名 *@
                    <h4 class="chat_room_name">チャットルーム名</h4>
                    @* 受信日時 *@
                    <span class="receive_date">11.22</span>
                    @* 最新チャットメッセージ *@
                    <p class="chat_message">最新チャットメッセージ</p>
                </dd>
            </dl>
        </li>
    </ul>
</div>

@code {

}
