<div class="chat_main_menu">
    <div class="chat_main_menu_header">
        <ul class="flex header_ul">
            <li>
                <span>すべて</span>
            </li>
            <li>
                <span>フレンド</span>
            </li>
            <li>
                <span>グループ</span>
            </li>
        </ul>
    </div>
    <hr />
    <div class="flex chat_main_menu_body">
        <ChatList @ref="ChatList" />
        <ChatRoom />
    </div>
</div>
@code {
    /// <summary>
    /// アクティブ画面ID
    /// </summary>
    private short _activeWindowId = CLDEF.WIN_ID_CHAT;

    /// <summary>
    /// チャット一覧インスタンス
    /// </summary>
    public ChatList ChatList = new();

    /// <summary>
    /// 初期処理
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    /// <summary>
    /// 画面非表示
    /// </summary>
    public async Task IsNotShow()
    {
        await ChatList.IsNotShow();
        await this.InvokeAsync(this.StateHasChanged);
    }

    /// <summary>
    /// 画面レンダリング
    /// </summary>
    public async Task OnRender()
    {
        if (_activeWindowId == CLDEF.WIN_ID_CHAT)
        {
            await ChatList.OnRender();
        }
        await this.InvokeAsync(this.StateHasChanged);
    }
}
