@inject IksNativeClient.Interface.IChatLogic _IChatLogic;

<div class="chat_list">
    <div class="search">
        <div class="search_input">
            <span class="icon"></span>
            <input type="text" class="text" placeholder="チャットルームとメッセージ検索" />
        </div>
    </div>
    @* リストコンポーネント作成 *@
    <ul>
        @* TODO：後でOnRenderのonclick処理を消す *@
        <li class="chat_list_li" @onclick="OnRender">
            <dl class="component">
                @* 画像 *@
                <dt class="room_image"></dt>
                <dd class="room_content">
                    @* ルーム名 *@
                    <h4 class="room_name">チャットルーム名</h4>
                    @* 最新受信日時 *@
                    <span class="latest_receive_date">11.22</span>
                    @* 最新メッセージ *@
                    <p class="latest_message">最新チャットメッセージ</p>
                </dd>
            </dl>
        </li>
    </ul>
</div>

@code {
    /// <summary>
    /// チャット一覧モデルリスト
    /// </summary>
    private List<ChatListModel> _chatListModelList;

    /// <summary>
    /// 画面レンダリング
    /// </summary>
    public void OnRender()
    {
        _IChatLogic.GetChatList();
    }
}
